.vscode/
.idea/
[Nn]otes.txt
*.code-workspace
*.iml

__pycache__/
*.ipynb
*.py[cod]
*$py.class

[Bb]uild*/
ReleaseMaterial/
WorkingFiles/
Prototype/
data/

deploy.bat
*credentials*.json
*token.pickle
*options.ini